<%# app/views/plants/show.html.erb %>
<div class="container mt-5">
  <div class="row">
    <!-- Carousel for Image Gallery Column -->
    <div class="col-12 col-md-4"> <!-- Adjusted to col-md-4 for a smaller image column -->
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
        <% @plant.images.each_with_index do |_, index| %>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>" aria-current="true" aria-label="Slide <%= index + 1 %>"></button>
        <% end %>
      </div>
      <div class="carousel-inner">
        <% @plant.images.each_with_index do |image, index| %>
          <div class="carousel-item <%= 'active' if index.zero? %>">
            <%= image_tag(image, class: 'd-block w-100 img-fluid', alt: "#{@plant.name} image #{index + 1}") %>
          </div>
        <% end %>
      </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <!-- Plant Details Column -->
    <div class="col-12 col-md-7"> <!-- Adjusted to col-md-8 for a larger details column -->
      <h2 class="h2"><%= @plant.name %></h2>
      <h3 class="h3 text-success"><%= number_to_currency(@plant.price) %></h3>
      <p><%= @plant.description %></p>

      <!-- Quantity Form -->
      <%= form_with(url: add_to_cart_path(plant_id: @plant.id), method: :post, id: 'add-to-cart-form') do |form| %>
        <div class="input-group mb-3">
          <button class="btn btn-outline-secondary" type="button" onclick="updateQuantity(-1)">-</button>
          <%= form.text_field :quantity, value: 1, class: 'form-control text-center', min: 1, style: "max-width: 60px;", id: "quantity" %>
          <button class="btn btn-outline-secondary me-3" type="button" onclick="updateQuantity(1)">+</button>
          <%= form.hidden_field :plant_id, value: @plant.id %>
          <%= form.submit "Add to Cart", class: "btn btn-success ml-2" %>
        </div>
      <% end %>

      <!-- Extra Information -->
      <div class="row">
        <div class="col-md-6 mt-2">
          <div class="fw-bold mb-2">We Ship Fast</div>
          <p>Most customers receive their orders in 3-5 business days from purchase.</p>
        </div>
        <div class="col-md-6 mt-2">
          <div class="fw-bold mb-2">Healthy Plant Guarantee</div>
          <p>We offer a 14-day healthy plant guarantee on all plants shipped with standard or express.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function updateQuantity(change) {
    var quantityInput = document.getElementById('quantity');
    var currentQuantity = parseInt(quantityInput.value);
    var newQuantity = currentQuantity + change;
    if (newQuantity < 1) newQuantity = 1; // Ensure the quantity is never less than 1
    quantityInput.value = newQuantity;
  }

  // Optional: Add form submission here if you want to submit the form after quantity update
</script>
