<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 bg-light p-5">
      <% form_title = address.new_record? ? 'New Address' : 'Edit Address' %>
      <% form_action = address.new_record? ? 'Create Address' : 'Update Address' %>
      <h2 class="text-center mb-4"><%= form_title %></h2>
      <%= form_with(model: address, local: true, html: { id: 'address-form', class: 'needs-validation' }) do |form| %>
        <% if address.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>
            <ul>
              <% address.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group mb-3">
          <%= form.label :address, class: 'form-label' %>
          <%= form.text_field :address, id: 'address_address', class: 'form-control', required: true %>
          <div class="invalid-feedback">
            Please enter the address.
          </div>
        </div>

        <div class="form-group mb-3">
          <%= form.label :city, class: 'form-label' %>
          <%= form.text_field :city, id: 'address_city', class: 'form-control', required: true %>
          <div class="invalid-feedback">
            Please enter the city.
          </div>
        </div>

        <div class="form-group mb-3">
          <%= form.label :province_id, class: 'form-label' %>
          <%= form.collection_select :province_id, Province.all, :id, :name, { include_blank: 'Select Province' }, { class: 'form-control' } %>
          <div class="invalid-feedback">
            Please select a province.
          </div>
        </div>

        <div class="form-group mb-3">
          <%= form.label :postal_code, class: 'form-label' %>
          <%= form.text_field :postal_code, id: 'address_postal_code', class: 'form-control', required: true %>
          <div class="invalid-feedback">
            Please enter a valid postal code.
          </div>
        </div>

        <!-- Additional fields for user_id and province_id -->

        <div class="actions mt-4">
          <%= form.submit form_action, class: "btn btn-primary w-100" %>
        </div>
      <% end %>
      <div class="actions mt-4">
          <%= link_to 'Back', addresses_path, class: "btn btn-primary w-100" %>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const addressForm = document.getElementById("address-form");

    addressForm.addEventListener("submit", function(event) {
      const address = document.getElementById("address_address").value;
      const city = document.getElementById("address_city").value;
      const postalCode = document.getElementById("address_postal_code").value;
      const province = document.getElementById("address_province_id").value; // Ensure this ID matches your province select field

      let valid = true;
      let errorMessage = "";

      if (!address || !city || !postalCode || !province) {
        errorMessage = "Please fill in all required fields.";
        valid = false;
      }

      const postalCodeRegex = /^[A-Za-z]\d[A-Za-z][ -]?\d[A-Za-z]\d$/;
      if (!postalCodeRegex.test(postalCode)) {
        errorMessage += (errorMessage ? "\n" : "") + "Invalid postal code format.";
        valid = false;
      }

      if (!valid) {
        alert(errorMessage);
        event.preventDefault();
      }
    });
  });
</script>
