<div class="container mt-4">
  <h1 class="mb-4">My Account</h1>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <!-- Orders -->
    <div class="col">
      <%= link_to orders_path, class: "text-decoration-none text-dark" do %>
        <div class="card h-100">
          <div class="card-body d-flex align-items-center">
            <%= image_tag 'package.png', alt: 'Order Icon', class: 'img-fluid', style: 'width: 50px;' %>
            <div class="ms-3">
              <h5 class="card-title">Your Orders</h5>
              <p class="card-text">Track, return, cancel an order, download invoice or buy again</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Addresses -->
    <div class="col">
      <%= link_to addresses_path, class: "text-decoration-none text-dark" do %>
        <div class="card h-100">
          <div class="card-body d-flex align-items-center">
            <%= image_tag 'address-book.png', alt: 'Address Icon', class: 'img-fluid', style: 'width: 50px;' %>
            <div class="ms-3">
              <h5 class="card-title">Your Addresses</h5>
              <p class="card-text">Edit, remove or set default address</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Login & Security -->
    <div class="col">
      <%= link_to edit_user_registration_path, class: "text-decoration-none text-dark" do %>
        <div class="card h-100">
          <div class="card-body d-flex align-items-center">
            <%= image_tag 'kyc.png', alt: 'Security Icon', class: 'img-fluid', style: 'width: 50px;' %>
            <div class="ms-3">
              <h5 class="card-title">Login & Security</h5>
              <p class="card-text">Manage email and password</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
